<%- include("./Partials/header") %>
        <div class="container">
            <% if(coin==="BTC"){ %>
                <img src="img/btc.png" height="200" width="200">
                <% } else {%>
                <img src="img/eth.png" height="200" width="200">
                <% } %>
                    <h1>Price of <%= coin %> is <span class="coin-price" >$<%= coinPrice %></span> </h1>
                    <form action="/setPrice/showDetails" method="POST">
                        <div class="vert-hor-align">
                            <h2>Set Alert Price</h2>
                            <input class="write-bar" type="number" step="0.01" name="price1" id="price1" placeholder="Enter Alert Price" required>
                            <br>
                            <input class="btn btn-secondary" type="submit" />
                        </div>
                    </form>
                    <div class="change-email">
                        <p>Email will be sent to <em><%= email %></em></p>
                        <a href="/delete/email">Click here to change email</a>
                      </div>
        </div>
<%- include("./Partials/footer") %>
